extends ./layouts/common

block content
    .container
        .row
            .col
                h1 Books
                form(action="/books/add", method="POST")
                    .form-group
                        label title
                        input(type="text", name="title", class="form-control")
                    .form-group
                        label description
                        input(type="text", name="description", class="form-control")
                    button(class="btn btn-primary") Add

                ul
                    each book in books
                        li
                            span= book.title  
                            span &nbsp;
                            a(href="/books/" + book.id +"/edit") edit                      
                            a(href="/books/" + book.id +"/delete") delete
    

